.components-header {
	box-sizing: border-box;
	padding: 15px 25px;
	border-bottom: 1px solid #ccc;
	background: white;
}
.components-header img {
	position: absolute;
	margin-top: 6px;
}
.components-header .caption {
	font-size: 20px;
	text-indent: 50px;
}